# Lezione 6: Ancora Sequenze

## Argomenti

* Revisione delle proprietà di liste e tuple
* Operatore `in`
* Set (o insiemi)
* Dizionari
* Esercizi

## Link Utili

### Riferimenti e tutorial

* Liste e tuple:
    * Scheda riassuntiva:
        * Liste: https://www.learnbyexample.org/python-list/
        * Tuple: https://www.learnbyexample.org/python-tuple/
    * Introduzione approfondita: https://realpython.com/python-lists-tuples/
* Set:
    * Scheda riassuntiva: https://www.learnbyexample.org/python-set/
    * Introduzione approfondita: https://realpython.com/python-sets/
* Dizionari:
    * Scheda riassuntiva: https://www.learnbyexample.org/python-dictionary/
    * Introduzione approfondita ai dizionari: https://realpython.com/python-dicts/
    * Iterare tra dizionari: https://realpython.com/iterate-through-dictionary-python/
   
Raccomandata, per familiarizzare con come sono scritte le documentazioni delle librerie:

* Documentazione ufficiale di Python: https://docs.python.org/3/library/stdtypes.html#sequence-types-list-tuple-range

### Approfondimenti

**calmcode.io** è un sito con degli ottimi brevi tutorial per svariati argomenti di Python (più per approfondimenti e argomenti della seconda parte del corso): tenetevelo nei bookmark.

* Comprehensions: metodi più rapidi ed eleganti per creare sequenze: https://calmcode.io/comprehensions/introduction.html
* Tuple unpacking: assegnare più di una variabile alla volta
    * https://treyhunner.com/2018/03/tuple-unpacking-improves-python-code-readability/

## Proprietà di Liste e Tuple

* Liste e tuple sono **ordinate**, cioè l'ordine degli elementi è una parte importante della lista.
* Le liste sono _mutabili_, le tuple no. In altre parole, in una lista si possono sovrascrivere gli elementi di una lista usando l'indicizzazione e l'assegnazione:

In [1]:
# il metodo split separa le parole di una stringa
# in base a un separatore, di default lo spazio
# lista = ["a", "b", "c", "d",...]
lista = "a b c d e f g h i l m".split()

print(f"before: {lista}")

lista[0] = "A"

print(f"after: {lista}")

before: ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'l', 'm']
after: ['A', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'l', 'm']

Questo non è possibile con le tuple, perché sono _immutabili_ (cioè gli elementi non si possono cambiare):

In [6]:
# anziché fare 
# tupla = ("a", "b", ...)
tupla = tuple(lista)

print(f"before: {tupla}")

tupla[0] = "Allora"

before: ('A', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'l', 'm')

TypeError: 'tuple' object does not support item assignment

Generalmente creiamo liste con `[]` e tuple con `()`. Si può anche fare con i metodi `list()` e `tuple()`, che però è meno comune. Sono più usate per convertire tuple in liste e viceversa.

Attenzione: `[]` e `()` non convertiranno una tupla in una lista, o viceversa:

Tuple e liste vuote o con un solo elemento:

In [3]:
liste = [1, 2, 3, 4]
lista_triste = [1]
lista_tristissima = []

tupla_triste = (1)
print(type(tupla_triste))

tupla_davvero_triste = (1,)
print(type(tupla_davvero_triste))

<class 'int'>
<class 'tuple'>

Convertire tuple in liste e viceversa:

In [ ]:
tupla_in_lista = list(tupla)
lista_in_tupla = tuple(lista)

## `in`

`in` è usato nei `for` loop ma si usa anche per vedere se un elemento appartiene a una lista:

In [7]:
lista = "ciao francesco"

if "tutti" in lista:
    print("CIAO!")
else:
    print("addio")

addio

In [8]:
numeri = [1,2,3,4,5,5,6,6,234,23,4,235,23]

if 1 in numeri:
    print("yay")

yay

## `Set`

Meno usati: sono delle liste che hanno elementi distinti (cioè non si ripetono). A differenza di tuple e liste, *non* sono ordinati (in inglese, *unordered*). In altre parole,
non vi si può accedere con l'indicizzazione.

In [8]:
insieme = {1, 1, 2, 3, 4, 3, 2}
print(insieme)

{1, 2, 3, 4}

Si possono anche generare con la funzione `set()`.

In [12]:
numeri = [1,1,1,7,5,2,3,4,6,2,2,2,2,3,3,3,4,5,6,7]

set(numeri)

{1, 2, 3, 4, 5, 6, 7}

## Stringhe come sequenze

Anche le stringhe sono delle sequenze _immutabili_ (come le tuple):

In [12]:
stringa = "ciao mondo!"

print(stringa[-1], stringa[2:7], stringa[1:9:2])

! ao mo iomn

In altre parole, una stringa è una sequenza di caratteri. Possiamo vederlo meglio trasformando una stringa in lista:

In [15]:
print(
    f"da stringa a lista: {list(stringa)}\n",
    f"da stringa a tupla: {tuple(stringa)}\n",
    f"da stringa a insieme: {set(stringa)}"
    )

da stringa a lista: ['c', 'i', 'a', 'o', ' ', 'm', 'o', 'n', 'd', 'o', '!']
 da stringa a tupla: ('c', 'i', 'a', 'o', ' ', 'm', 'o', 'n', 'd', 'o', '!')
 da stringa a insieme: {'!', 'd', 'a', 'm', 'n', ' ', 'i', 'o', 'c'}

### Alcuni metodi degli insiemi

In [13]:
set1 = {1,2,3,4,5}
set2 = {3,4,5,6,7}

set1.union(set2)

{1, 2, 3, 4, 5, 6, 7}

In [16]:
lista_1 = [1,2,3,4,5,5,6,6,6,6,6,6]
lista_2 = [3,4,5,6,7]


def unisci_liste(lista_a, lista_b):
    
    for element in lista_b:
        lista_a.append(element)
    
    return set(lista_a)
        

print(unisci_liste(lista_1, lista_2))

print(set(lista_1).union(set(lista_2)))

{1, 2, 3, 4, 5, 6, 7}
{1, 2, 3, 4, 5, 6, 7}

Si noti come nell'insieme compaiano in maniera _disordinata_ tutti gli elementi distinti.

## Dizionari 

I dizionari sono delle sequenze *mutabili*, come le liste. L'unica differenza è che sono indicizzate "esplicitamente" usando delle chiavi:

In [18]:
persona = {
    "nome": "luca",
    "eta": 25,
    "professione": ["data scientist", "docente"]
}

E quindi per accedere agli elementi si usa la medesima notazione con gli indici `dizionario[indice]` solo che anziché usare un numero si devono usare le **chiavi**:

In [20]:
print(persona["nome"])
print(persona["eta"])

luca
25

E questi elementi si possono modificare come le liste:

In [4]:
persona["nome"] = "Luca"

E, a differenza delle liste, se ne possono aggiungere di nuovi:

In [5]:
persona["cognome"] = "Baggi"
persona["email"] = "luca.baggi@unimi.it"

print(persona)

{'nome': 'Luca', 'eta': 25, 'professione': ['data scientist', 'docente'], 'cognome': 'Baggi', 'email': 'luca.baggi@unimi.it'}

### Le chiavi

Le chiavi devono essere degli oggetti **immutabili**: cioè interi, decimali, stringhe, tuple... ma non liste, o altri dizionari, ad esempio.

### Accedere agli elementi dei dizionari

Per accedere alla lista delle chiavi:

In [6]:
persona.keys()

dict_keys(['nome', 'eta', 'professione', 'cognome', 'email'])

Per accedere alla lista dei valori:

In [7]:
persona.values()

dict_values(['Luca', 25, ['data scientist', 'docente'], 'Baggi', 'luca.baggi@unimi.it'])

Per accedere alla lista di tuple degli elementi di una lista:

In [8]:
persona.items()

dict_items([('nome', 'Luca'), ('eta', 25), ('professione', ['data scientist', 'docente']), ('cognome', 'Baggi'), ('email', 'luca.baggi@unimi.it')])

In questo modo, si possono fare loop sulle chiavi, valori o anche items di una lista (vedi [qui](https://realpython.com/iterate-through-dictionary-python/) per una trattazione più completa):

In [25]:
if "name" in persona.keys(): # è falsa
    print(persona["name"])

if "nome" in persona.keys(): # è vera
    print(persona["nome"])

luca

In [12]:
for key in persona.keys():
    print(key)

nome
eta
professione
cognome
email

In [13]:
for value in persona.values():
    print(value)

Luca
25
['data scientist', 'docente']
Baggi
luca.baggi@unimi.it

In [ ]:
for key, value in persona.items():
    print(key, " -> ", value)

nome  ->  luca
eta  ->  25
professione  ->  ['data scientist', 'docente']

Quest'ultimo è un caso di assegnazione multipla (vedi gli approfondimenti).

## Esercizi

In [35]:
def calcola_rendimento(capitale_iniziale, interesse, anni):
    """Dato il capitale iniziale e l'interesse, calcola il rendimento dopo n anni
    
    Example
    -------
    >>> calcola_rendimento(100, 0.01, 1)
    1
    >>> calcola_rendimento(100, 0.05, 2)
    10.25
    """
    
    capitale_finale = capitale_iniziale * (1 + interesse) ** anni
    
    return capitale_finale - capitale_iniziale


calcola_rendimento(100, 0.05, 2)

10.25

In [2]:
def mostra_rendimenti(capitale_iniziale, interesse, anni):
    """Restituisce una lista i cui elementi sono i rendimenti anno per anno
    
    Example
    -------
    >>> mostra_rendimenti(100, 1, 1)
    [1]
    >>> mostra_rendimenti(100, 5, 2)
    [5, 5.25]
    """
    pass

In [ ]:
def annota_rendimenti(capitale_iniziale, interesse, anni):
    """Restituisce un dizionario che ha come chiavi il numero di anni e valori il rendimento per quell'anno
    
    Example
    -------
    >>> annota_rendimenti(100, 1, 1)
    {1: 1}
    >>> annota_rendimenti(100, 5, 2)
    {1: 5, 2: 5.25}
    """
    pass

In [ ]:
def pretty_annota_rendimenti(capitale_iniziale, interesse, anni):
    """Restituisce un dizionario che ha come chiavi il numero di anni e valori il rendimento per quell'anno,
    annotato come stringa "anno <anno>".
    
    Suggerimento: usa le f-strings f'anno_{anno}'
    
    Example
    -------
    >>> pretty_annota_rendimenti(100, 1, 1)
    {"anno 1": 1}
    >>> pretty_annota_rendimenti(100, 5, 2)
    {"anno 1": 5, "anno 2": 5.25}
    """
    pass

## Costruire un contatore

In [43]:
def crea_contatore(lista):
    """Data una lista, restituisce un dizionario di questo tipo:
    * le chiavi sono gli elementi distinti della lista
    * il valore sono il numero di volte che quell'elemento compare (la frequenza)
    
    Example:
    >>> contatore([1,2,2,3,4,4,4])
    {1: 1, 2: 2, 3: 1, 4:3}
    """
    
    counter = {} # o anche counter = dict(), entrambi creano un dizionario
    
    for element in lista:
        if element not in counter.keys():
            counter[element] = 0
        counter[element] += 1
    return counter


crea_contatore([1,2,2,3,4,4,4])

{1: 1, 2: 2, 3: 1, 4: 3}

Non reinventiamo la ruota:

In [29]:
from collections import Counter

contatore = Counter([1,2,2,3,4,4,4])
print(contatore)

Counter({4: 3, 2: 2, 1: 1, 3: 1})

In [30]:
contatore.most_common()

[(4, 3), (2, 2), (1, 1), (3, 1)]

In [51]:
import string

stringa = string.ascii_lowercase * 5000

In [52]:
%timeit crea_contatore(stringa)

31.3 ms ± 853 µs per loop (mean ± std. dev. of 7 runs, 10 loops each)

In [53]:
%timeit Counter(stringa)

9.11 ms ± 715 µs per loop (mean ± std. dev. of 7 runs, 100 loops each)