Come abbiamo visto con numpy:
- Togliere il # per chi non ha pandas
- Importare pandas

In [1]:
# !pip install pandas
import pandas as pd

print(pd.__version__)

1.4.2

Caricare un dataset

In [2]:
iris_dataset = pd.read_csv("https://raw.githubusercontent.com/baggiponte/statistics-for-big-data/main/lezione_08/iris.csv")

Visualizzare un dataset:

In [3]:
iris_dataset.head(2 + 3)

   sepal_length  sepal_width  petal_length  petal_width      species
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa

In [4]:
iris_dataset.tail(10)

     sepal_length  sepal_width  petal_length  petal_width         species
140           6.7          3.1           5.6          2.4  Iris-virginica
141           6.9          3.1           5.1          2.3  Iris-virginica
142           5.8          2.7           5.1          1.9  Iris-virginica
143           6.8          3.2           5.9          2.3  Iris-virginica
144           6.7          3.3           5.7          2.5  Iris-virginica
145           6.7          3.0           5.2          2.3  Iris-virginica
146           6.3          2.5           5.0          1.9  Iris-virginica
147           6.5          3.0           5.2          2.0  Iris-virginica
148           6.2          3.4           5.4          2.3  Iris-virginica
149           5.9          3.0           5.1          1.8  Iris-virginica

Modificare indici e nomi delle colonne:

In [5]:
iris_dataset.columns

Index(['sepal_length', 'sepal_width', 'petal_length', 'petal_width',
       'species'],
      dtype='object')

In [6]:
iris_dataset.columns.shape

(5,)

In [7]:
iris_dataset.columns = ["lunghezza_sepale", "larghezza_sepale", "lunghezza_petalo", "larghezza_petalo", "specie"]

In [8]:
iris_dataset.head()

,lunghezza_sepale,larghezza_sepale,lunghezza_petalo,larghezza_petalo,specie
0,5.1,3.5,1.4,0.2,Iris-setosa
1,4.9,3.0,1.4,0.2,Iris-setosa
2,4.7,3.2,1.3,0.2,Iris-setosa
3,4.6,3.1,1.5,0.2,Iris-setosa
4,5.0,3.6,1.4,0.2,Iris-setosa

In [9]:
iris_dataset.index.name = "numero_osservazione"

In [10]:
iris_dataset.head()

,lunghezza_sepale,larghezza_sepale,lunghezza_petalo,larghezza_petalo,specie
numero_osservazione,,,,,
0,5.1,3.5,1.4,0.2,Iris-setosa
1,4.9,3.0,1.4,0.2,Iris-setosa
2,4.7,3.2,1.3,0.2,Iris-setosa
3,4.6,3.1,1.5,0.2,Iris-setosa
4,5.0,3.6,1.4,0.2,Iris-setosa

In [42]:
iris_dataset.set_index("specie")

,lunghezza_sepale,larghezza_sepale,lunghezza_petalo,larghezza_petalo,area_petalo
specie,,,,,
Iris-setosa,5.1,3.5,1.4,0.2,0.28
Iris-setosa,4.9,3.0,1.4,0.2,0.28
Iris-setosa,4.7,3.2,1.3,0.2,0.26
Iris-setosa,4.6,3.1,1.5,0.2,0.30
Iris-setosa,5.0,3.6,1.4,0.2,0.28
...,...,...,...,...,...
Iris-virginica,6.7,3.0,5.2,2.3,11.96
Iris-virginica,6.3,2.5,5.0,1.9,9.50
Iris-virginica,6.5,3.0,5.2,2.0,10.40
Iris-virginica,6.2,3.4,5.4,2.3,12.42
Iris-virginica,5.9,3.0,5.1,1.8,9.18

## Accedere agli elementi usando l'indicizzazione (come per le liste):

In [11]:
lista = [1,2,3,4,5,6,7,8,5,223,423,53,346]
lista[1:6]

[2, 3, 4, 5, 6]

In [12]:
iris_dataset[100:105]

,lunghezza_sepale,larghezza_sepale,lunghezza_petalo,larghezza_petalo,specie
numero_osservazione,,,,,
100,6.3,3.3,6.0,2.5,Iris-virginica
101,5.8,2.7,5.1,1.9,Iris-virginica
102,7.1,3.0,5.9,2.1,Iris-virginica
103,6.3,2.9,5.6,1.8,Iris-virginica
104,6.5,3.0,5.8,2.2,Iris-virginica

questa cosa non si può fare: iris_dataset[100:105, "specie"]. Vediamo le alternative migliori:

## Accedere alle colonne

Modificare le colonne o aggiungere nuovi valori:

In [14]:
iris_dataset["specie"]

numero_osservazione
0         Iris-setosa
1         Iris-setosa
2         Iris-setosa
3         Iris-setosa
4         Iris-setosa
            ...
145    Iris-virginica
146    Iris-virginica
147    Iris-virginica
148    Iris-virginica
149    Iris-virginica
Name: specie, Length: 150, dtype: object

Possiamo usare la notazione degli attributi (e.g. `iris_dataset.columns`):

In [43]:
iris_dataset.specie # <- solo una alla volta

numero_osservazione
0         Iris-setosa
1         Iris-setosa
2         Iris-setosa
3         Iris-setosa
4         Iris-setosa
            ...
145    Iris-virginica
146    Iris-virginica
147    Iris-virginica
148    Iris-virginica
149    Iris-virginica
Name: specie, Length: 150, dtype: object

In [16]:
iris_dataset[["lunghezza_petalo", "lunghezza_sepale"]] # <- anche più di una

                     lunghezza_petalo  lunghezza_sepale
numero_osservazione
0                                 1.4               5.1
1                                 1.4               4.9
2                                 1.3               4.7
3                                 1.5               4.6
4                                 1.4               5.0
...                               ...               ...
145                               5.2               6.7
146                               5.0               6.3
147                               5.2               6.5
148                               5.4               6.2
149                               5.1               5.9

[150 rows x 2 columns]

## Accedere sia a righe che a colonne

In [17]:
iris_dataset.loc[4]

lunghezza_sepale            5.0
larghezza_sepale            3.6
lunghezza_petalo            1.4
larghezza_petalo            0.2
specie              Iris-setosa
Name: 4, dtype: object

In [18]:
iris_dataset.loc[4, "specie"]

'Iris-setosa'

In [19]:
iris_dataset.loc[4, ["lunghezza_petalo", "larghezza_petalo"]]

lunghezza_petalo    1.4
larghezza_petalo    0.2
Name: 4, dtype: object

In [20]:
iris_dataset.loc[[2,4], "specie"]

numero_osservazione
2    Iris-setosa
4    Iris-setosa
Name: specie, dtype: object

In [21]:
iris_dataset.loc[range(10), "specie"]

numero_osservazione
0    Iris-setosa
1    Iris-setosa
2    Iris-setosa
3    Iris-setosa
4    Iris-setosa
5    Iris-setosa
6    Iris-setosa
7    Iris-setosa
8    Iris-setosa
9    Iris-setosa
Name: specie, dtype: object

## Operazioni sulle colonne

In [22]:
iris_dataset["area_petalo"] = iris_dataset["lunghezza_petalo"] * iris_dataset["larghezza_petalo"]

In [44]:
iris_dataset["lunghezza_petalo_per_due"] = iris_dataset["lunghezza_petalo"] * 2

In [45]:
iris_dataset.head()

,lunghezza_sepale,larghezza_sepale,lunghezza_petalo,larghezza_petalo,specie,area_petalo,lunghezza_petalo_per_due
numero_osservazione,,,,,,,
0,5.1,3.5,1.4,0.2,Iris-setosa,0.28,2.8
1,4.9,3.0,1.4,0.2,Iris-setosa,0.28,2.8
2,4.7,3.2,1.3,0.2,Iris-setosa,0.26,2.6
3,4.6,3.1,1.5,0.2,Iris-setosa,0.30,3.0
4,5.0,3.6,1.4,0.2,Iris-setosa,0.28,2.8

In [51]:
# iris_dataset.drop(["area_petalo", "lunghezza_petalo_per_due"], axis=1)
iris_dataset.drop(columns=["area_petalo", "lunghezza_petalo_per_due"], inplace=True)

## Informazioni sul dataset

In [52]:
iris_dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   lunghezza_sepale  150 non-null    float64
 1   larghezza_sepale  150 non-null    float64
 2   lunghezza_petalo  150 non-null    float64
 3   larghezza_petalo  150 non-null    float64
 4   specie            150 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.0+ KB

In [53]:
descrizione_iris = iris_dataset.describe()

In [54]:
descrizione_iris

       lunghezza_sepale  larghezza_sepale  lunghezza_petalo  larghezza_petalo
count        150.000000        150.000000        150.000000        150.000000
mean           5.843333          3.054000          3.758667          1.198667
std            0.828066          0.433594          1.764420          0.763161
min            4.300000          2.000000          1.000000          0.100000
25%            5.100000          2.800000          1.600000          0.300000
50%            5.800000          3.000000          4.350000          1.300000
75%            6.400000          3.300000          5.100000          1.800000
max            7.900000          4.400000          6.900000          2.500000

In [58]:
descrizione_iris.drop(index="count") # esempio di drop delle righe

      lunghezza_sepale  larghezza_sepale  lunghezza_petalo  larghezza_petalo
mean          5.843333          3.054000          3.758667          1.198667
std           0.828066          0.433594          1.764420          0.763161
min           4.300000          2.000000          1.000000          0.100000
25%           5.100000          2.800000          1.600000          0.300000
50%           5.800000          3.000000          4.350000          1.300000
75%           6.400000          3.300000          5.100000          1.800000
max           7.900000          4.400000          6.900000          2.500000

In [27]:
descrizione_iris[0:1]

,lunghezza_sepale,larghezza_sepale,lunghezza_petalo,larghezza_petalo,area_petalo
count,150.0,150.0,150.0,150.0,150.0

In [28]:
descrizione_iris.lunghezza_petalo

count    150.000000
mean       3.758667
std        1.764420
min        1.000000
25%        1.600000
50%        4.350000
75%        5.100000
max        6.900000
Name: lunghezza_petalo, dtype: float64

In [29]:
descrizione_iris["lunghezza_petalo"]

count    150.000000
mean       3.758667
std        1.764420
min        1.000000
25%        1.600000
50%        4.350000
75%        5.100000
max        6.900000
Name: lunghezza_petalo, dtype: float64

In [30]:
descrizione_iris.loc["mean", ["lunghezza_petalo", "larghezza_petalo"]]

lunghezza_petalo    3.758667
larghezza_petalo    1.198667
Name: mean, dtype: float64

### Tre modi equivalenti

In [31]:
descrizione_iris.loc["mean", "lunghezza_petalo"]

3.758666666666666

In [32]:
descrizione_iris["lunghezza_petalo"].loc["mean"]

3.758666666666666

In [33]:
descrizione_iris.lunghezza_petalo.loc["mean"]

3.758666666666666

## Indicizzazione più "granulare"

In [34]:
iris_dataset.loc[iris_dataset["lunghezza_petalo"] > 3.758666666666666]

,lunghezza_sepale,larghezza_sepale,lunghezza_petalo,larghezza_petalo,specie,area_petalo
numero_osservazione,,,,,,
50,7.0,3.2,4.7,1.4,Iris-versicolor,6.58
51,6.4,3.2,4.5,1.5,Iris-versicolor,6.75
52,6.9,3.1,4.9,1.5,Iris-versicolor,7.35
53,5.5,2.3,4.0,1.3,Iris-versicolor,5.20
54,6.5,2.8,4.6,1.5,Iris-versicolor,6.90
...,...,...,...,...,...,...
145,6.7,3.0,5.2,2.3,Iris-virginica,11.96
146,6.3,2.5,5.0,1.9,Iris-virginica,9.50
147,6.5,3.0,5.2,2.0,Iris-virginica,10.40
148,6.2,3.4,5.4,2.3,Iris-virginica,12.42
149,5.9,3.0,5.1,1.8,Iris-virginica,9.18

In [35]:
lunghezza_media_petalo = iris_dataset["lunghezza_petalo"].mean()
lunghezza_media_petalo

3.758666666666666

In [36]:
iris_dataset.loc[iris_dataset["lunghezza_petalo"] > lunghezza_media_petalo]

,lunghezza_sepale,larghezza_sepale,lunghezza_petalo,larghezza_petalo,specie,area_petalo
numero_osservazione,,,,,,
50,7.0,3.2,4.7,1.4,Iris-versicolor,6.58
51,6.4,3.2,4.5,1.5,Iris-versicolor,6.75
52,6.9,3.1,4.9,1.5,Iris-versicolor,7.35
53,5.5,2.3,4.0,1.3,Iris-versicolor,5.20
54,6.5,2.8,4.6,1.5,Iris-versicolor,6.90
...,...,...,...,...,...,...
145,6.7,3.0,5.2,2.3,Iris-virginica,11.96
146,6.3,2.5,5.0,1.9,Iris-virginica,9.50
147,6.5,3.0,5.2,2.0,Iris-virginica,10.40
148,6.2,3.4,5.4,2.3,Iris-virginica,12.42
149,5.9,3.0,5.1,1.8,Iris-virginica,9.18

In [59]:
versicolor_above_average = (
    iris_dataset
    .loc[iris_dataset["specie"] == "Iris-versicolor"]
    .loc[iris_dataset["lunghezza_petalo"] > lunghezza_media_petalo]
)

In [60]:
versicolor_above_average.head()

,lunghezza_sepale,larghezza_sepale,lunghezza_petalo,larghezza_petalo,specie
numero_osservazione,,,,,
50,7.0,3.2,4.7,1.4,Iris-versicolor
51,6.4,3.2,4.5,1.5,Iris-versicolor
52,6.9,3.1,4.9,1.5,Iris-versicolor
53,5.5,2.3,4.0,1.3,Iris-versicolor
54,6.5,2.8,4.6,1.5,Iris-versicolor

## Aggregazione / GroupBy

In [66]:
iris_mean_by_species = iris_dataset.groupby("specie").mean()
iris_mean_by_species

,lunghezza_sepale,larghezza_sepale,lunghezza_petalo,larghezza_petalo
specie,,,,
Iris-setosa,5.006,3.418,1.464,0.244
Iris-versicolor,5.936,2.770,4.260,1.326
Iris-virginica,6.588,2.974,5.552,2.026

In [67]:
iris_std_by_species = iris_dataset.groupby("specie").std()
iris_std_by_species

,lunghezza_sepale,larghezza_sepale,lunghezza_petalo,larghezza_petalo
specie,,,,
Iris-setosa,0.352490,0.381024,0.173511,0.107210
Iris-versicolor,0.516171,0.313798,0.469911,0.197753
Iris-virginica,0.635880,0.322497,0.551895,0.274650

## Join

In [71]:
iris_mean_by_species.join(iris_std_by_species, lsuffix="_mean", rsuffix="_std")[["lunghezza_sepale_mean", "lunghezza_sepale_std"]]

                 lunghezza_sepale_mean  lunghezza_sepale_std
specie
Iris-setosa                      5.006              0.352490
Iris-versicolor                  5.936              0.516171
Iris-virginica                   6.588              0.635880